div{text-align: center;
    color: white;
    font-size: 30px;}
.padre{
    border: 3px solid red;
    width: 90%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    }
.padre > div{
    width: 30%;
    height: auto;
    }
#div1{
    background-color: aquamarine;}
#div2{
    background-color: lightcoral;}
#div3{
    background-color: lightseagreen;}
#div4{
    background-color: lightslategray;}
#div5{
    background-color: lightpink;}
#div6{
    background-color: brown;}
#div7{
    background-color: lavender;}
#div8{
    background-color: tomato;}
#div9{
    background-color: black}
#div10{
    background-color: olivedrab;}