* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  .cabecera {
    padding: 60px;
    text-align: center;
    background: #72b4ff;
    color: white;
  }
  
  .navegador {
    display: flex;
    background-color: #333;
  }
  
  .navegador a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  .navegador a:hover {
    background-color: rgb(223, 213, 213);
    color: rgb(37, 36, 36);
  }

  .fila {  
    display: flex;
    flex-wrap: wrap;
  }

  .lateral {
    flex: 30%;
    background-color: #eb8f8f;
    padding: 20px;
  }

  .principal {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  .fakeimg {
    background-color: rgb(155, 155, 155);
    width: 100%;
    padding: 20px;
  }

  .piedefoto {
    padding: 20px;
    text-align: center;
    background: rgb(231, 219, 219);
  }
  
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }